
.sobremi {
width: 100%;
margin: 0 auto;
}

.sobremi img{
	position: static !important;
}

.sobremi p{
	text-align: center;
}
.sobremi p.meee{
	padding: 2em 0;
}

.titulo {

text-align: center;
margin-bottom: 30px;
}

.titulo h2{
	font-family: 'gandhi_sansitalic';
	width: 80px;
	height:80px;
	border-radius: 40px;
	background-color: #5C3D8B;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 0 25px;
	line-height: 0.6;
	padding-top: 26px;
	color: white;
}

.titulo h1 {
				font-size: 120px;
				font-weight: 100;
				text-transform: uppercase;
				font-family: 'gandhi_sansbold';

			}
.contenidosobre{
	width: 1507px;
	margin: 0 auto;
}


.contenido-sobre{
	overflow: hidden;
	margin-left: 20px;
	text-align: center;
}


#contact form{
	background: #5C3D8B;
	padding: 25px;
}

#contact input{
	background: white;
	border-radius: 0;
	display:  inline-block;
	padding: 10px;
	margin: 0 0 25px;
	width: 47.5%;
}

#contact input.email{
	margin-left: 4%;
}

#contact textarea{
	background: white;
	border-radius: 0;
	min-height: 150px;
	height: 150px;
}

#header h1{
	display:  inline-block;
	vertical-align: top;
	width: 22%;
}

#header h1 img{
	margin: 0;
	position: static;
	max-width:  100%;
}

.Branding{
	background-size: cover;
	color: #ffffff;
	padding: 130px;
	position: relative;
	text-align: center;
	z-index: 10;
}

.BrandingParallax{
	background-attachment: fixed;
	background: url('../images/bg-branding.jpg') fixed top center no-repeat;
	background-size: cover;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}

.BrandingVideo{
	background-color: transparent;
	background-image:  none;
	height: 500px;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1 !important;
}

#bgndVideo{
	margin-top: -590px;
	top: 50%;
	padding: 130px;
	width: 100%;
	height: 1080px;
}

.containerReel{
	/*background: rgba(15,15,15,.6);*/
	background: url('../images/pattern.png');
	height: 100%;
	position: absolute;
	width: 100%;
	max-width: 100%;
	padding-top: 200px;
	top: 0;
	text-align:  center;
}

.Branding h2{
	color: #ffffff;
	font-size: 3em;
	font-style: italic;
}

.Branding h1{
	color: #ffffff;
	font-size: 3.5em;
	font-style: italic;
}


/* PORTFOLIO */
#portfolio .col-xs-4,
#portfolio .col-xs-6,
#portfolio .col-xs-8,
#portfolio .col-xs-12,
#portfolio .col-xs-3{
	padding: 0 5px;}

#portfolio .collapse{
	padding: 0;
}

#portfolio .collapse .col-xs-4,
#portfolio .collapse .col-xs-8{
	height: 260px;
}


.Portfolio-title{
	background: #66398e;
	clear: both;
	color: #ffffff;
	display:  block;
	font-family: 'gandhi_sansitalic';
	line-height:  43px;
	font-size: 24px;
	margin: 60px 0;
	height: 43px;
	width: 100%;
	position: relative;
	top:40px;	
}

.Portfolio-title img{
	display:  inline-block;
	margin: 10px 15px;
	vertical-align: top;
	width: 25px;
}

.Portfolio-title i{
	display:  inline-block;
	font-size: 24px;
}


/* CONTACT */
#contact .titulo h2{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	line-height: 100px;
	padding: 0;
}

#contact textarea{
	height: 150px;
}

#contact .btn-submit{
	border: none;
	background: #5cb9ae !important;
	color: #ffffff;
	display: block;
	outline: 0;
	padding: 15px 25px;
	margin: 10px auto;
	width: 200px;
}

#contact h4{
	font-size: 24px;
	margin: 20px 0;

}

/* Footer */
#footer .section{
	display: block;	
	color: #ffffff;
	background: #67388f;
	height: 250px;
	padding-top: 0;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
}

.footer-inner{
	border-radius: 0 0 8px 8px;
	background:  #593482;
	max-width: 900px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}


.footer-inner-item{
	color: #ffffff;
	display: inline-block;
	padding: 15px 20px;
	width: 125px;
}

.footer-inner-item.sp{
	padding: 15px 5px; 
}

.footer-inner-item:hover{
	color: #fff;
	font-weight: bold;
}


.footer-social{
	max-width: 900px;
	margin: 40px auto;
	width: 100%;
	text-align: center;
}

.footer-social-item{
	display: inline-block;
	height: 52px;
	padding: 15px 10px;
}

.footer-social-item:hover{
	opacity: 0.5;
}

.footer-social-item img,.footer-social-item a{
	display: block;
	height: 52px;
	position: static;
	width: 55px;
}

.pss{
	cursor: pointer;
	overflow: hidden;
}

.portitem{
	position: relative;
	width: 100%;
	height: 100%;
	bottom: 0;
	top: 0;
	z-index: 10;
	overflow: hidden;
}

.portitem .porthover{
	background: url(../images/hover1.png) !important;
	background-size:cover;
	box-sizing: border-box; 
	top:0;
	bottom: 6px;
	position: absolute;
	color: #fff;
	width: 100%;
	/*height: 100%;*/
	padding-top: 55px;
	opacity: 0;
	text-align: center;
	transition: opacity 0.5s;
	z-index: 9999;
}
.psslarge .portitem{
	height: 515px;
}

.psslarge .portitem .porthover{
	background: url(../images/hover1.png) !important;
	bottom: 0;
}

.psslarge .portitem .porthover img{
	margin: 90px auto 190px;
}

.psslarge .realimage{
	max-height: 515px;
}

.pssmedium .portitem .porthover{
	background: url(../images/hover1.png) !important;
	bottom: 6px;
}
.pss:hover .realimage{
	transform: scale(1.03);
}
.pss:hover .porthover
{
	opacity: 1 !important;
	
}

.realimage{
	/*height: 100%;*/
	left: 0;
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
	z-index: 1;
	transition: 0.5s;
}